<div class="container text-center">
    <h1>About Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, assumenda, commodi, officiis error neque quod quas blanditiis inventore esse nemo non praesentium doloribus obcaecati ut nulla sequi in laudantium! Nemo.</p>
</div>